<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do lists</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col jumbotron">
                <div class="text-center">
                    <h1> {% block header_text %}{% endblock %}</h1>
                    <form method="POST" action=" {% block form_action %}{% endblock %}">
                        <input name="item_text" id="id_new_item" class="form-control input-lg"
                            placeholder="Enter a to-do item" />
                        {% csrf_token %}
                    </form>

                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                {% block table %}
                {% endblock  %}
            </div>
        </div>
    </div>

</body>

</html>
